
{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

  
    <div class="main" role="main">
        <div class="technology-page">
            <nav class="technology-nav">
                <ul>
                    <li><a href="./css">CSS</a></li>
                    <li><a href="./html">HTML</a></li>
                    <li><a href="./javascript">JAVASCRIPT</a></li>
                    <li><a href="./php">PHP</a></li>
                    <li><a href="./python">PYTHON</a></li>
                    <li><a href="./git">GIT</a></li>
                    <li><a href="./sqlite">sqlite</a></li>
                </ul>
            </nav>
            <div>
                {{ content }}
            </div>
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>